
<div class="calculator-container">
  <table>
    <tr>
      <td class="result" colspan="4">{{ result }}</td>
    </tr>
    <tr>
      <td class="button" (click)="handleButtonClick(7)">7</td>
      <td class="button" (click)="handleButtonClick(8)">8</td>
      <td class="button" (click)="handleButtonClick(9)">9</td>
      <td class="button" (click)="handleButtonClick('*')">*</td>
    </tr>
    <tr>
      <td class="button" (click)="handleButtonClick(4)">4</td>
      <td class="button" (click)="handleButtonClick(5)">5</td>
      <td class="button" (click)="handleButtonClick(6)">6</td>
      <td class="button" (click)="handleButtonClick('-')">-</td>
    </tr>
    <tr>
      <td class="button" (click)="handleButtonClick(1)">1</td>
      <td class="button" (click)="handleButtonClick(2)">2</td>
      <td class="button" (click)="handleButtonClick(3)">3</td>
      <td class="button" (click)="handleButtonClick('+')">+</td>
    </tr>
    <tr>
      <td class="button" (click)="handleButtonClick(0)">0</td>
      <td class="button" (click)="handleButtonClick('/')">/</td>
      <td class="button" (click)="handleButtonClick('sqrt')">√</td>
      <td class="reset" (click)="resetResult()">R</td>
    </tr>
    <tr>
      <td colspan="4" class="calculate" (click)="calculateResult()">=</td>
    </tr>
  </table>
</div>
