.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  
.calculator-container .result{
    background-color: black;
    color: rgb(40, 203, 40);
}

  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 400px;
  }
  
  td {
    padding: 10px;
    text-align: center;
    font-size: 300%;
    font-family: sans-serif;
    cursor: pointer;
  }
  
  .result {
    text-align: right;
  }
  
  .button {
    border: 1px solid #ccc;
  }
  
  .reset,
  .calculate {
    /* background-color: #ccc; */
    border: 1px solid #ccc;

  }
  
  td:hover {
    cursor: pointer;
  }
  